<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body>
<header>
    <% include ../views/partials/header %>
</header>

<form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
</form>

<div>
  <h2>Replace</h2>
  <button id="update"> Darth Vadar invades! </button>
</div>

<div>
  <h2>Delete All</h2>
  <button id="delete"> Delete first Darth Vadar quote </button>
</div>

<div>
    <% include ../views/partials/form %>
</div>

<footer>
    <% include ../views/partials/footer %>
</footer>

<script src="/js/main.js"></script>
</body>
</html>